body {
    font-family: 'Luxurious Roman', cursive;;
    color: #000;
}
main.main-content {
    margin-top: -20px;  
}
p, li, h2, h3, h4, h5, h6 {
    font-weight: 100 !important
}
h1 {
    font-weight: 100 !important
}
/*FAIXA TOPO*/
.topo {
    background: #fff;
    width: 100%;
    float: left;
    height: 22px;
    padding: 0;
    font-size: 12px;
    color: #000;
    margin-bottom: 4px;
}
.topo a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    padding: 0 5px;
}
.topo p {
    margin: 0;
    letter-spacing: 0.8px;
    font-weight: 300;
}
.topo .tel {
    padding: 4px 0 7px 0;
}
.topo .redes-topo {
    padding: 0 0 4px 0;
    text-align: center
}
.topo .redes-topo i {
    margin: 0;
    font-size: 16px;
    padding: 6px 0;
    text-align: center;
}

/*FIM FAIXA TOPO*/
/*INICIO CONTATO HEADER*/
.logo-info-contato {
    float: left;
    width: 100%;
    padding-top: 0;
}
.contato-header {
    float: left;
    width: 100%;
}
.contato-header .icone {
    float: left;
    width: 100%;
    margin-top: 28px;
}
.contato-header .icone p {
    font-size: 12px;
    margin: 6px 0;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.8px;
    color: #fff;
}
.contato-header .icone p a {
    color:#fff;
    letter-spacing: 1px;
}
.contato-header .icone img {
    float: left;
    padding: 0 16px 0 0;

}
.contato-header .icone p.btn-orcamento {
    background: #fff;
    background: #c2b32d;
    text-align: center;
    padding: 10px;
    width: 70%;
    float: right;
    margin-right: 62px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.5s;
}
.contato-header .icone p.btn-orcamento:hover {
    background: #d5c535;
    transition: all 0.5s;
}
.contato-header .icone p.btn-orcamento a {
    font-weight: 900;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.contato-header .icone p.btn-orcamento a:hover {
    text-decoration: none
}
.contato-header i {
    font-size: 25px;
    float: left;
    margin: 16px 15px;
    color: #fff;
}
/*FIM CONTATO HEADER*/

/*INICIO HEADER*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color:#000;
    z-index: 1000;
    margin: 0 auto 10px 0;
    box-shadow: 0 1px 13px 2px #7d7d7d17;
}
header .logo {
    float:left;
    margin:10px 0 0 0
}
header .logo img {
    width: 88%;
}
header .logo a {
    display:block;
    text-decoration:none
}
header .container-fluid {
    margin-left:0;
    margin-right:0;
    padding-right:0;
    padding-left:0
}
header .col-md-12 {
    padding:0
}
/* FIM HEADER */

/* INICIO MENU */
.menu {
    margin-top: 5px;
    text-align: center;
    background: #c2b32d;
    margin-bottom: -17px;
    border: 1px solid #333;
}
.menu-list {
    padding:0;
    margin:0
}
.menu .menu-list,.menu .sub-menu {
    list-style:none
}
.menu a {
    color:#000;
    text-decoration:none;
    display:block;
    cursor:pointer
}
.menu > .menu-list > li {
    display:inline;
    position:relative;
    margin: 0px 20px;
}
.menu > .menu-list > li > a {
display: inline-block;
    padding: 10px 15px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    transition: all 0.5s;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #000;
}
.menu > .menu-list > li:hover > a {
    color: #333;
    border-radius: 5px;
    transition: all 0.5s;
}
.menu > .menu-list > li:hover > .sub-menu {
    display:block;
    border: 1px solid #adadad1c;
}
.menu > .menu-list > li > .sub-menu {
    position: absolute;
    left: -36px;
    min-width: 179px;
    z-index: 100;
    display: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
}
.menu > .menu-list > li > .sub-menu > li > a {
    padding: 8px;
    background: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center
}
.menu > .menu-list > li > .sub-menu > li:hover > a {
    background:#f7f7f7
}
/*INICIO ENTRE EM CONTATO HOME*/
.entre-em-contato {
    float: left;
    width: 100%;
    background: #408cff;
    margin-top: 10px;
}
.entre-em-contato p {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    float: left;
}
.entre-em-contato a {
    font-size: 60px;
    margin-right: 80px;
    color: #ffffff;
    float: right;
}
/*FIM ENTRE EM CONTATO HOME*/
/* Menu Mobile */
.slicknav_btn {
    background-color:#000
}
.slicknav_menu {
    background-color:#292929
}
.slicknav_brand a {
    color:#fff;
    font-size:14px;
    display:block;
    padding:0px 5px;
    font-weight:bold
}
.slicknav_brand a:active, .slicknav_brand a:hover, .slicknav_brand a:focus {
    text-decoration:none
}
/*INICIO SERVÇOS HOME*/
.servicos {
    float: left;
    width: 100%;
    background: #fff;
}
/*FIM SERVÇOS HOME*/

/* Rodapé */
footer {
padding: 15px 0 0 0;
    background-color: #000;
    color: #fff;
    margin-top: 0;
    float: left;
    width: 100%;
    border-top: 5px solid #707070;
}
footer .logo {
    padding: 0 70px 0 0
}
footer .logo img {
    margin: 0 20px 0 
}
footer .logo i {
    padding: 21px 0 0 22px;
    font-size: 23px;
}
footer h5 {
    font-size: 22px;
    font-weight: 100;
    text-transform: uppercase;
    margin:20px 0 15px 0;
    color: #fff;
    letter-spacing: 2px;
}
footer ul {
    list-style-type:none;
    padding:0px
}
footer p {
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #fff;
    margin: 8px 0;
    line-height: 28px;
}
footer li {
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 22px;
}
footer a {
    text-decoration: none !important;
    color: #fff;
    text-transform: none;
}
footer iframe {
    border: none;
    width: 100%;
    float: left;
    height: 180px;
}
footer .footer-copyright {
    padding: 5px 0;
    margin-top: 30px;
    background: #333;
}
footer .footer-copyright a {
    text-decoration:none;
}
footer .ass-q {
    text-align:right;
    font-size:14px;
    margin:0
}
footer .text-right {
    margin-top: 0;
}
footer hr {
    margin-bottom: 0;
}
footer .logo p {
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 20px;
    color: #fff;
    padding: 0 25px;
}
footer .footer-copyright p.desenvolvido {
    margin: 5px 20px;
    padding-bottom: 0;

}
/* DESENVOLVIDO POR ABSOLUT SBO */
footer .footer-copyright p.absolutsbo {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.5px
}
footer .footer-copyright p.absolutsbo strong {
    color:#ff5726;
}
.baixa-absolut {
    border: 1px solid #ff5726;
    width: 40px;
    margin: 0 auto 5px auto;
    border-radius: 25px
}
/* FIM DESENVOLVIDO POR ABSOLUT SBO */
/* BOTÕES LATERAL/FIXO */
.btn-fixo a {
    position: fixed;
    right: 13px;
    align-items: center;
    text-decoration: none;
    transition: 0.3s all ease;
    box-shadow: -1px 2px 3px 1px #888888b0;
    font-size: 28px;
    border-radius: 100%;
    background: #707070;
    z-index: 100000;
    color:#fff;
}
a.btn-whatsapp {
    top: 408px;
    transition: 0.6s all;
    padding: 12px 14px 10px 14px;
    font-size: 28px;
    background: #25d366;
}
a.btn-telephone {
    top: 545px;
    transition: 0.6s all;
    padding: 11px 11px 7px 11px;
    font-size: 28px;
}
a.btn-instagram {
    top: 478px;
    transition: 0.6s all;
    padding: 11px 11px 6px 11px;
    font-size: 30px;
}
a.btn-mail {
    top: 560px;
    transition: 0.6s all;
    padding: 11px 12px;
}
.btn-fixo a:hover {
    background: #333;
    transition: 0.6s all;
}
/* Main */
main h2 {
    font-size:22px
}
main.main-content p strong {
    font-weight:normal
}
/* Ajustes Mobile */
@media screen and (max-width: 40em) {
    .topo {
        display: none;
    }
    .theme-default-nivo-slider .nivo-caption a.btn-whatsapp-home, .theme-default-nivo-slider .nivo-caption a.btn-home {
        display:none
    }
    .box-btn-modal-orcamento, .header-container-main {
        display:none
    }
    .btn-fixo {
        display: none
    }
    header {
        background-color: #0000;
        width: 100%;
        margin-right: 0;
    }
    footer {
        text-align: center;
        width: 100%;
    }
    footer .icons-selos {
        text-align: center;
    }
    footer ul {
        margin: 15px 20px;
    }
    footer .btn-fixo {
        display: none;
    }
    footer .footer-copyright .text-right {
        text-align: center;
    }
    .menu-footer-mobile {
        width: 100%;
        padding: 5px;
    }
}
@media screen and (max-width: 768px) {
    .menu > .menu-list > li {
        margin: 0px 9px;
    }
    .menu {
        margin-top: 119px;
        height: 41px;
    }
    .btn-fixo {

    }
}
@media screen and (max-width: 1024px) {

    a.btn-whatsapp {
        top: 300px;
    }
    a.btn-telephone {
        top: 375px;
    }
    a.btn-instagram {
        top: 450px;
    }

}