.banner-home {
  float: left;
  width: 100%;
  margin-top: -34px;
}
.nivo-caption {
  text-align: center;
  left: 0;
  top: 45%;
}
main.main-content .banner-home img {
  width: 100%;
}
main.main-content .banner-home h1 {
  padding-bottom: 11px;
  margin: 37px 0 0 0;
  font-size: 75px;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
/*  text-shadow:0px 2px 5px #000;
*/  font-family:'Sora', sans-serif;
  color: #000;
}
main.main-content .banner-home h2 {
	font-size: 28px;
  font-weight: 200;
	padding-bottom: 11px;
  margin:0;
  letter-spacing: 3px;
  /*text-shadow:0px 2px 5px #000;*/
  font-family:'Sora', sans-serif;
  color: #000;
}
.theme-default-nivo-slider .nivo-caption a.btn-home {
	background: #003;
	padding: 14px 25px;
	margin: 30px 30px 0 0;
	border-radius:5px;
	letter-spacing: 0.3px;
	font-size: 16px;
	text-transform: uppercase;
}
.theme-default-nivo-slider .nivo-caption a.btn-whatsapp-home {
	background: #7bd86f;
	padding: 12px 25px;
	margin: 30px 30px 0 0;
	border-radius:5px;
	letter-spacing: 0.3px;
	font-size: 18px;
}
.theme-default-nivo-slider .nivo-caption a.btn-whatsapp-home i {
	font-size: 18px;
	padding-right: 5px
}
.nivo-caption img {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0);
}
/* FIM BANNER HOME */

/* ATENDIMENTO HOME */
.atendimento-home {
  width: 100%;
  float: left;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.atendimento-home .box-inf {
    border: 1px solid #f1f1f1;
    padding: 0 0 26px 0;
    width: 18%;
    margin: 0 40px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.atendimento-home .box-inf:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 2px 15px 0 #c1c1c1;
}
.box-inf.col-xs-12.col-sm-3.col-md-3.col-lg-3 {
    width: 18%;
    margin: 0 40px;
}
.atendimento-home i {
  font-size: 55px;
  color: #707070;
  margin-top: 20px;
}
.atendimento-home .box-inf:hover i {
  color:#b1b15a;
}
.atendimento-home a:hover {
  text-decoration: none
}
.atendimento-home a h3 {
  color:#000;
  font-weight: 200;
}
.contato-atendimento .icone {
  display: inline-block;
  margin-top: 30px;
}
.contato-atendimento .icone p {
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #c2b32d;
}
.contato-atendimento .icone p a {
  text-decoration: none;
  color: #000;
}
/* FIM ATENDIMENTO HOME */

/*INICIO SOBRE NOS*/
.sobre-nos {
  float: left;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #707070b8;
}
.sobre-nos h2 {
	text-align: center;
  font-size: 38px;
  font-weight: 100;
  margin-top: 80px;
  margin-bottom: 8px;
  color: #fff;
  letter-spacing: 5px;
}
.sobre-nos h3 {
  font-size: 22px;
  text-align: center;
}
.sobre-nos p {
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    line-height: 30px;
    font-size: 16px;
    padding: 0 40px;
    margin: 19px 0;
}
.sobre-nos hr {
  border-top:2px solid #4e4c4c;
  width: 10%;
  margin-top: 0;
  margin-bottom: 40px;
}
/*FIM SOBRE NOS*/

.col-xs-12.col-sm-4.col-md-4.col-lg-4 {
  padding: 0;
}
.content {
  position: relative;
  width: 100%;
  max-width: 402px;
  margin: auto;
  overflow: hidden;
  padding-top: 20px;
}
.content .content-overlay {
  background: rgb(112 112 112 / 60%);
  position: absolute;
  height: 86%;
  width: 65%;
  left: 68px;
  top: 26px;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 0;
}
.content:hover .content-overlay {
  opacity: 1;
}
.content-image {
    width: 69%;
    height: 200px;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details {
  top: 54%;
  left: 50%;
  opacity: 1;
}
.content-details h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p {
	color: #000;
  font-size: 16px;
  line-height: 24px;
  margin: 25px 0;
}
.content-details p.btn-content {
  background: #003;
  width: 35%;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
}
.fadeIn-bottom{
  top: 80%;
}
.fadeIn-top{
  top: 20%;
}
.fadeIn-left{
  left: 20%;
}
.fadeIn-right{
  left: 80%;
}
/* FIM CLIENTES */


/*INICIO CONTADOR HOME*/
.efeito {
  padding-top: 27px;
  width: 100%;
  float: left;
  background: #000;
  text-align: center
}
.efeito h3 {
  font-size: 34px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}
.efeito p {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
}
.contador-home {
  float: left;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contador-home .inf-portfolio h2 {
  text-align: center;
  font-size: 38px;
  font-weight: 100;
  margin-bottom: 8px;
  color: #000;
  letter-spacing: 5px;
}
.contador-home .inf-portfolio hr {
  border-top:2px solid #acacac;
  width: 10%;
  margin-top: 0;
  margin-bottom: 40px;
}
.contador-home h3 {
  font-size: 24px;
  color: #000;
  font-weight: 100;
  letter-spacing: 2px;
}
.contador-home p {
    text-align: center;
    letter-spacing: 1px;
    color: #000;
    line-height: 23px;
    font-size: 15px;
}
.contador-home h4 {
    color: #000;
    font-size: 21px;
}
.contador-home .content {
  width: 95%;
}
.contador-home .content .content-overlay {
      background: rgb(255 255 255 / 88%);
}
.contador-home a.btn-portifolio h3 {
    font-weight: 300;
}
.contador-home a.btn-portifolio:hover h3 {
    color: #b1b15a
}
.contador-home a.btn-portifolio:hover {
    text-decoration: none
}
.contador-home .box-end {
  background: #000;
    height: 240px;
}
.contador-home .box-end h3 {
  font-size: 22px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
}
.contador-home .box-end p {
    text-align: center;
    letter-spacing: 1.3px;
    color: #fff;
    line-height: 23px;
    font-size: 13px;
}
.contador-home .box-end a.g-maps {
    color: #fff;
    font-size: 30px;
}
/*FIM CONTADOR HOME*/


/* Nossos Serviços de Assistência Técnica Especializada */
.informacoes-home br {
	width: 100%;
	height: 100px
}
.informacoes-home .content {
  position: relative;
  width: 100%;
  height: 200px;
  max-width: 402px;
  margin: auto;
  overflow: hidden;
  padding-top: 20px;
}
.informacoes-home .content img {
	border-radius: 5px;
    border: 1px solid #003;
}
.informacoes-home .content .content-overlay {
	background:rgb(0 0 51 / 46%);
    position: absolute;
    height: 88%;
    width: 100%;
    left: 0;
    top: 20px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 5px;
}
.informacoes-home .content:hover .content-overlay {
  opacity: 1;
}
.informacoes-home .content-image {
	width: 100%;
  	height: 300px;
}
.informacoes-home .content-details {
  position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.informacoes-home .content:hover .content-details {
  top: 54%;
  left: 50%;
  opacity: 1;
}
.informacoes-home .content-details h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.informacoes-home .content-details p {
	color: #000;
  font-size: 16px;
  line-height: 24px;
  margin: 25px 0;
}
.informacoes-home .content-details p.btn-content {
    background: #003;
    width: 35%;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
}
.informacoes-home .fadeIn-bottom {
  top: 80%;
}
.informacoes-home .fadeIn-top {
  top: 20%;
}
.informacoes-home .fadeIn-left {
  left: 20%;
}
.informacoes-home .fadeIn-right {
  left: 80%;
}
/* FIM Nossos Serviços de Assistência Técnica Especializada */

/* INICIO CLIENTES */
.clientes {
    float: left;
    width: 100%;
    background: #fff;
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 25px;
    color: #003;
    box-shadow: 0 2px 15px 0 #c1c1c1;
}
.clientes .lista-clientes {
    float: left;
    width: 100%;
}
.clientes .lista-clientes img {
    padding: 0px 10px;
}
.clientes .titulo h2 {
    font-size: 43px;
    text-align: center;
    margin-bottom: 12px;
}
.clientes .titulo hr {
    border-top:2px solid #2d8ac8;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}
.clientes .descricao p {
    text-align: center;
}
/* FIM CLIENTES */

@media screen and (max-width: 40em) {
  main.main-content {
    margin-top: 41px;
  }
  main.main-content .banner-home {
    width: 105%;
  }
  main.main-content .banner-home h1 {
    padding-bottom: 11px;
    margin: 0;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  .box-inf.col-xs-12.col-sm-3.col-md-3.col-lg-3 {
      width: 99%;
      margin: 10px;
    }
    main.main-content .banner-home h2 {
      display: none;
    }
    .atendimento-home .box-inf {
      width: 76%;
    }
    main.main-content .sobre-nos {
      width: 105%;
    }
    main.main-content .efeito {
      width: 105%;
    }
    main.main-content .contador-home {
      width: 105%;
    }
    .contador-home .box-end {
      height: 386px;
    }
    footer {
      width: 110%;
    }
}
