
main.main-content {
    margin-top: 260px;  
}
.topo-pags {
    background: #707070;
    color: #fff;
}
.topo-pags h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 100;
  margin-bottom: 8px;
  letter-spacing: 5px;
}
.topo-pags hr {
    border-top: 2px solid #4e4c4c;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}
.contador-home {
  float: left;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contador-home .inf-portfolio h2 {
  text-align: center;
  font-size: 38px;
  font-weight: 100;
  margin-bottom: 8px;
  color: #333;
  letter-spacing: 5px;
}
.contador-home .inf-portfolio hr {
  border-top:2px solid #acacac;
  width: 10%;
  margin-top: 0;
  margin-bottom: 40px;
}
.contador-home h3 {
  font-size: 24px;
  color: #333;
  font-weight: 100;
  letter-spacing: 2px;
}
.contador-home p {
    text-align: center;
    letter-spacing: 1px;
    color: #333;
    line-height: 23px;
    font-size: 15px;
}
.contador-home .content {
  width: 95%;
}
.contador-home .content .content-overlay {
      background: rgb(255 255 255 / 88%);
}
.content-image {
      width: 100%;
    height: 254px;
}
.content .content-overlay {
      background: rgb(112 112 112 / 60%);
    position: absolute;
    height: 86%;
    width: 95%;
    left: 10px;
    top: 28px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 0;
}