main.main-content {
    margin-top: 260px;  
}
.topo-pags {
    background: #707070;
    color: #fff;
}
.topo-pags h1 {
	text-align: center;
	font-size: 45px;
	font-weight: 100;
	margin-bottom: 8px;
	letter-spacing: 5px;
}
.topo-pags hr {
    border-top: 2px solid #4e4c4c;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}
.todos-pags a:hover {
    text-decoration: none;
}
.todos-pags {
	margin-top: 40px;
}
.todos-pags h3 {
    color: #707070;
    text-align: center;
    margin-top: 0;
    padding: 10px 0;
    letter-spacing: 1px;
}
.cont-text {
	padding: 20px 0
}
.cont-text h2 {

}
.cont-text p {
    line-height: 27px;
    text-align: justify;
    letter-spacing: 0.8px;
}
.contato-atendimento .icone {
  display: inline-block;
  margin-top: 30px;
  float: right;
}
.contato-atendimento .icone p {;
  background-color: #fff;
}
.contato-atendimento .icone p a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 40em) {

    .cont-text p {
        padding: 0 15px;
    }
    .contato-atendimento .icone {
        margin-right: 55px;
    }
    header {
        width: 100%;
    }
    .menu-footer-mobile {
        width: 100%;
    }
    .topo-mobile{
        background-color: #000;
        margin-top: -222px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .contato-atendimento .icone {
      display: inline-block;
      margin-top: 30px;
      float: right;
    }
    .contato-atendimento .icone p {
      border: 1px solid #fff;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #c2b32d;
    }
    .contato-atendimento .icone p a {
      text-decoration: none;
      color: #000;
    }
}
